.pagina{
background-color: #383838;

}
.marca {
background-color: #383838;
text-align: center;
color: #f2f3f2;
padding: 0.1px;
font-family: Montserrat;
  
}
.barraprodutos {
margin-bottom: 10;
background-color: #9892f5;
font-family: 'Clan';
font-size: 14px;
line-height: 1.4;
font-weight: 300;
}

.Notebook1{
margin-bottom: 0;
padding: 40px;
margin-top: 20x;
background-color: #383838;

}
.imagem img{
width: 70%;
float: left;
width: 500px;
height: 338px;
padding-top: 61px;

}
.barraprodutos ul li {
display: inline-block;
padding: 13px;;
color: #ffffff;

}
.barraprodutos ul li a {
display: inline-block;
padding: 12px;
color: #000000;

}
.informações{
width: 35%;
float: right;
padding-top: 150px;
padding-right: 202px;

}
.preço{
font-size: 18px;
color: #ffffff;
  
}
.preço1{
padding-bottom: 50px;
text-transform: uppercase;
font-size: 32px;
color: #ffffff;

}
.nomeProd{
font-size: 32px;
margin-bottom: 28px;
margin-right: 162px;
color: #ffffff;

}
.botaopreço{
font-size: 22px;
padding-left: 152px;
padding-right: 152px;
  
}
.barrabaixo{
margin-bottom: 0px;

}
.tecnica{
margin-left: 55px;

}
.avaliação{
padding-left: 3px;
padding-right: 3px;
text-align: center;
color: #f2f3f2;
padding: 0.1px;
font-family: Montserrat;

}
.notebookPro img{
width: 70%;
float: left;
width: 500px;
height: 338px;
padding-top: 31px;
padding-left: 40px;

}
.cor{
color: #ffffff;

}
.imagem2 img{
width: 70%;
float: left;
width: 500px;
height: 338px;
padding-top: 61px;
margin-left: 40px;

}
.botao{
    margin-left: 112px;
    
}